.project-card {
    background: #fff;
    border-radius: 2px;
    height: 20rem;
    margin: 1rem;
    position: relative;
    width: 90%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

/* .container{
    display: flex;
    flex-flow: row wrap;
} */



.project-card > .content > ul {
    list-style-type: none;
}

.project-card > .content > ul > li {
    margin-top: 18px;
}

.project-card > .project-img {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
}

.project-card > .project-img > img {
    width: 60%
}

/* .project-img img{
    width: 50px;
    height: 50px;
} */


