.jumbotron{
    flex: 0 0 200px;
    position: sticky;
    top: 0;
    height: 100vh;
   
}

.jumbo{
    background-color: #81ecec;
}

.scroll{
    flex-grow: 1;
   
}

.contact-icon{
    padding: 1rem;
}

.container-fluid{
    /* margin-top: 10%; */
    background-color: #81ecec;
}


.about > img{
    width: 50%;
    height: 70%;
    margin-left: 10rem;
    padding-top: 2rem;
    border-radius: 20%; 
    border: 0.2em solid aqua;
}

article{
    padding: 1rem 1rem  
}

.tech-stack li {
    /* display: flex;
    justify-content:space-between; */
    font-size: small;
}