/* .icon{
    width: 5rem;
    height: 5rem;
} */

/* .icons{
    display: flex;
    flex-direction: row;
} */

/* #ic{
    width: 5rem;
    height: 5rem;
    border: 5px solid red;
} */

/* i{
    width: 5rem;
    height: 5rem;
    border: 5px solid red;
    display: inline;
    size: 20px;
} */