/* .icon{
    width: 100%;
    height: 100%;
} */

/* a.icons{
    display: flex;
    flex-direction: column;
} */


/* a {
    display: flex;
    flex-flow: row;
    justify-content: space-between; 
  } */
  